*{
    margin:0;
    padding:0;
}

/*-----------------------------------INICIO MENU-------------------------------*/
header{
    width: 100%;
    background: #ffffff;
    font-family: open sans, sans-serif;
    padding-top: 27px;
    padding-bottom: 27px;
}

main{
    width: 100%;
    background: #ffffff;

    margin-top: 30px;
    margin
}
.welovedogs{
    display:flex;
    text-decoration: none;
    font-size: 48px;
    font-weight: 700;
}

.we{
    color: #000000;
}

.love{
    color: #7ed321;
}

.dogs{
    color: #000000;
}

.menu{
    list-style: none;
    color: #000000;
    width:400px;
    font-weight: 700;
    display:flex;
    justify-content: space-between;

}

.menu a{
    text-decoration: none;
    color: #000000;
    text-transform: uppercase; 
}

.quemsomos:hover{
    font-weight: 400;
}

.blogs:hover{
    font-weight: 400;
}

.botaoinscrever{
    font-family: 'Open Sans', sans-serif;
    background: rgba(126,211,33,0.4);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 9px;
    padding-top: 9px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 15px;
}

.botaoinscrever:hover{
    background: rgba(126,211,33,1);
    font-weight: 700;
}

nav{
    width:98%;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
/*------------------------------------FIM MENU----------------------------------*/

/*---------------------------------INICIO CORPO DO SITE------------------------*/

#corpo {
    justify-content: center;
    width: 75%;
    text-align: center;
    display: flex;
    flex-direction: column; /* Coloca os elementos em uma coluna */
    margin: 0 auto; /* Centraliza o contêiner horizontalmente na página */
    
}


    
.conteudo{
    display: flex;
   

    
    

}


    
 h1 {
    width: 104px;
    height: 65px;
    top: 150px;
    left: 668px;
    font-family: Open Sans;
    align-self: center;
font-size: 48px;
font-weight: 700;
line-height: 65px;
letter-spacing: 0em;
text-align: left;


}

.conteudo h2{
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    width: 239px;
height: 42px;
left: 304px;
padding: 0px, 19px, 0px, 0px;;


}
.conteudo p{
    width: 778px;
    height: 185px;
    font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
text-align: justified;


}
.conteudo_2{
    display: flex;
    width: 1082px;
height: 255px;
top: 562px;
left: 181px;

}
.conteudo_2 img {
    width: 205.59px;
    height: 207.89px;
    top: 10.01px;
    left: 49.28px;
    width: 304px;
    height: 228px;



}
.conteudo_2 h2{
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;

}
.conteudo_2 p{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: justified;
    text-align: left;

}

/* 
julio@JC MINGW64 ~/OneDrive/Documentos/nucleo-web-1 (1-JulioMoreira)
$ git add .

julio@JC MINGW64 ~/OneDrive/Documentos/nucleo-web-1 (1-JulioMoreira)
$ git commit -m We_love_dogs_2Pag
[1-JulioMoreira 48a595d] We_love_dogs_2Pag
 10 files changed, 564 insertions(+)
 create mode 100644 1-WeLoveDogs/we love dogs/Figure1.png
 create mode 100644 1-WeLoveDogs/we love dogs/Figure3.png
 create mode 100644 1-WeLoveDogs/we love dogs/Figure4.png
 create mode 100644 1-WeLoveDogs/we love dogs/homi-e-perro.png
 create mode 100644 1-WeLoveDogs/we love dogs/we_love_dogs_2.css
 create mode 100644 1-WeLoveDogs/we love dogs/we_love_dogs_julio_pag2.html
 create mode 100644 1-WeLoveDogs/we love dogs/we_love_dogs_part3.html
 create mode 100644 1-WeLoveDogs/we love dogs/we_love_dogs_part3_css.css
 create mode 100644 1-WeLoveDogs/we love dogs/welovedogs_julio.css
 create mode 100644 1-WeLoveDogs/we love dogs/welovedogs_julio.html

julio@JC MINGW64 ~/OneDrive/Documentos/nucleo-web-1 (1-JulioMoreira)
$ git push
fatal: The current branch 1-JulioMoreira has no upstream branch.
To push the current branch and set the remote as upstream, use

    git push --set-upstream origin 1-JulioMoreira

To have this happen automatically for branches without a tracking
upstream, see 'push.autoSetupRemote' in 'git help config'.


julio@JC MINGW64 ~/OneDrive/Documentos/nucleo-web-1 (1-JulioMoreira)
$ git push --set-upstream origin 1-JulioMoreira
Enumerating objects: 16, done.
Counting objects: 100% (16/16), done.
Delta compression using up to 8 threads
Compressing objects: 100% (14/14), done.
Writing objects: 100% (14/14), 84.16 KiB | 8.42 MiB/s, done.
Total 14 (delta 3), reused 0 (delta 0), pack-reused 0
remote: 
remote: To create a merge request for 1-JulioMoreira, visit:
remote:   https://gitlab.com/InfoJrUFBA/nucleos/2023/3-ciclo/nucleo-web/-/merge_requests/new?merge_request%5Bsource_branch%5D=1-JulioMoreira
remote:
To https://gitlab.com/InfoJrUFBA/nucleos/2023/3-ciclo/nucleo-web.git
 * [new branch]      1-JulioMoreira -> 1-JulioMoreira
branch '1-JulioMoreira' set up to track 'origin/1-JulioMoreira'.

julio@JC MINGW64 ~/OneDrive/Documentos/nucleo-web-1 (1-JulioMoreira)/*